body{
    background-image: linear-gradient(to right , rgb(6, 6, 97),rgb(40, 3, 3));
}

.clock{
    background-color: white;
    margin: auto;
    margin-top: 30vh;
    width: 330px;
    height: 50vh;
    border-radius: 100%;
    position: relative;
}
.clockFace{
    background-image: linear-gradient(to right , rgb(6, 6, 97),rgb(40, 3, 3));

    position: absolute;
    // transform: translateX(200px);
    // transform: translateY(90px);
    top: 17px;
    right: 20px;
    width: 290px;
    height: 45vh;
    border-radius: 1000%;
    
}
.hand{
    position: absolute;
    background-color: white;
    
    z-index: 84;
    width: 120px;
    height: 5px;
    
    top: 130px;
    right: 130px;
    transform-origin: 100%;
     transform: rotate(90deg);
     transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

